{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости Нарына</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap">
</head>
<body>
    <header>
        <h1>Новости Нарына</h1>
        <nav>
            <a href="#home">Главная</a>
            <a href="#news">Новости</a>
            <a href="#contacts">Контакты</a>
            <a href="#about">О нас</a>
        </nav>
    </header>

    <div class="container">
        <section id="home" class="section">
            <h2>Добро пожаловать!</h2>
            <p>Открывайте последние события города Нарына с нами. Будьте в курсе того, что происходит в вашем городе!</p>
            <div id="weather">
            <h3>Текущая погода</h3>
                <div class="weather-details">
                    <p>Температура: 25°C</p>
                    <p>Состояние: Ясно</p>
                    <img src="https://openweathermap.org/img/w/01d.png" alt="Картинка погоды">
                </div>
            </div>

        </section>

        <section id="news" class="section">
            <h2>Последние новости</h2>
            {% for post in post_list %}
                <div class="news-card">
                    <h3>{{ post.title }}</h3>
                    <img src="{{ post.img.url }}" alt="Изображение новости">
                    <p>{{ post.annotation }}</p>
                    <div>
                        <small><b>Автор:</b> {{ post.author }}</small><br>
                        <small><b>Дата:</b> {{ post.date }}</small><br>
                        <a class="continue" href="{{ post.id }}">Подробно</a>
                    </div>
                </div>
            {% endfor %}
        </section>

        <section id="contacts" class="section">
            <h2>Контакты</h2>
            <p>Наш email: info@newsnaryn.kg</p>
            <p>Телефон: +996 705 525 252</p>
        </section>

        <section id="about" class="section">
            <h2>О нас</h2>
            <p>Мы работаем для того, чтобы вы были в курсе самых важных и актуальных событий города. Спасибо за ваше доверие!</p>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 Новости Нарына. Все права защищены.</p>
    </footer>
</body>
</html>
