
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fefefe;
    color: #333;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    color: #0366d6;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #0366d6;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
}

nav a:hover {
    color: #024aa2;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    position: relative;
}

.section h2:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 60px;
    height: 4px;
    background-color: #0366d6;
}

.news-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.news-card img {
    max-width: 100%;
    border-radius: 8px;
    margin: 15px 0;
}

#contacts, #about {
    text-align: center;
    line-height: 1.8;
}



#weather .weather-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

#weather img {
    width: 50px; /* Регулируйте размер иконки */
    height: 50px;
}


footer {
    background-color: #0366d6;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

